[Unit]
Description=Vision Update Application
After=vision-gw-config.service

[Service]
Type=oneshot
Environment=GATEWAY_HOME=/opt/vision-usb-gateway
EnvironmentFile=-/etc/vision-gw.env
ExecStart=/bin/bash ${GATEWAY_HOME}/scripts/apply-update.sh apply
