[Unit]
Description=Vision Log Cleanup
After=vision-gw-config.service

[Service]
Type=oneshot
TimeoutStartSec=10min
Environment=GATEWAY_HOME=/opt/CitoStore/vision-usb-gateway
EnvironmentFile=-/etc/vision-gw.env
ExecStart=/bin/bash ${GATEWAY_HOME}/scripts/log-cleanup.sh
