[Unit]
Description=WSDD for SMB Discovery
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/vision-gw.env
ExecStart=/usr/sbin/wsdd -i ${SMB_BIND_INTERFACE} -n ${NETBIOS_NAME} -w ${SMB_WORKGROUP}
Restart=on-failure
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
